.idea/
.spyproject/
qopt/__pycache__/
build/
qsim.egg-info/
dist/
qopt.egg-info/
quantum_computer.egg-info/
qopt/examples/ff_benchmarking/__pycache__/
__pycache__/setup.cpython-37.pyc
qopt/examples/rabi_driving/__pycache__/lab_frame_setup.cpython-37.pyc
**/__pycache__/
.coverage
coverage.xml
temp/File Name
~/tensorflow_datasets/
logs/
temp/tensorflow/~/tensorflow_datasets/
temp/tensorflow/tottime
